body {
    font-family: Raleway, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.bgImage {
    background-color: hsl(229, 57%, 11%);
}

.viewport {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app-info-container,
.storage-info-container {
    background-color: #1e2c69;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.app-info-container {
    border-radius: 10px 100px 10px 10px;
}

.app-info {
    margin: 15px;
}

.app-info img {
    max-width: 100%;
}

.buttons {
    display: flex;
    justify-content: normal;
    margin-top: 30px;
}

button {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    background-color: #0c122c;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3a58d6;
}

.storage-info {
    text-align: center;
    font-weight: 400;
    color: white;
}

.progress-bar {
    background-color: #14204a;
    height: 16px;
    padding: 3px;
    border-radius: 12px;
    position: relative;
}

.main-containers {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    align-items: flex-end;
}

.progress {
    background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    height: 100%;
    width: 70%;
    border-radius: 10px;
    line-height: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.dot {
    height: 8px;
    width: 8px;
    background-color: white;
    border-radius: 50%;
    margin-right: 2px;
}

.storage-range {
    display: flex;
    justify-content: space-between;
}

.storage-remaining {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: absolute;
}

.remaining-info {
    color: black;
    font-size: 35px;
    font-weight: 700;
}

.remaining-text {
    color: grey;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-left: 8px;
}

/*Mobile*/
@media screen and (max-width: 375px) {
    .bgImage {
        background: url(./images/bg-mobile.png);
    }
    .viewport {
        flex-direction: column;
    }
    .main-containers {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .storage-remaining {
        background-color: white;
        height: 70px;
        width: 40%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

/*Desktop*/
@media screen and (min-width: 376px) {
    .bgImage {
        background-color: #0c122c;
        background-image: url(./images/bg-desktop.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 100% 50%;
    }
    .app-info-container {
        width: 20%;
    }
    .storage-info-container {
        width: 30%;
        position: relative;
    }
    .storage-remaining {
        width: 30%;
        height: 50%;
        position: absolute;
        right: 48px;
        top: -35px;
        margin: 0;
    }
    .storage-info {
        height: 100px;
        text-align: left;
    }
}